{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Change Password {% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="mt-3" >Change your password</h1>
        <p>When changing your password make sure to enter a strong password that you will remember...</p>

        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Change your password">
            <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
        </form>
    </div>
{% endblock content %}