{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Update Data {% endblock title %}

{% block content %}
    <div class="container">
        <h2 class="mt-3" >Change data information</h2>
        <form class="mt-5" action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <input class="btn btn-outline-info" type="submit" value="Update">
                <a class="btn btn-primary" href="{% url 'home' %}">Cancel</a>
            </div>
        </form>
        <br>
    </div>
{% endblock content %}